<%= stylesheet_link_tag   'loggedin', media: 'all' %>

<header class='navbar'>
  <div id="restaurant">Taqueria</div>
  <div id="employee"><%= @employee.name.capitalize %> | <%= @employee.restaurant_location.split(/ |\_/).map(&:capitalize).join(" ") %> | <%= link_to "Home", profile_path %></div>
</header><br>

<div class='content'>

  <div class='six columns offset-by-three'>
    <div class='menu'>


      <% @paidparties.each do |party| %>

        <p>Table <%= party.table_number %>, party of <%= party.number_of_people %></p>

      <% end %>

  </div>
</div>
