<%= stylesheet_link_tag   'loggedin', media: 'all' %>

<header class='navbar'>
  <div id="restaurant"><%= link_to "Taqueria", profile_path %></div>
  <div id="employee">
    <%= @employee.name.capitalize %> |
    <% if @employee.is_admin %><%= 'Manager' %><% else %><%= 'Server' %><% end %> at
    <%= @employee.restaurant_location.split(/ |\_/).map(&:capitalize).join(" ") %> |
    <%= link_to "Home", profile_path %>
  </div>
</header><br>

<div class='content'>

  <div class='six columns offset-by-three'>
    <div class='menu'>

    <%= form_for @party do |f| %>

      <%= f.label :table_number %>
      <%= f.number_field :table_number, min: 1 %>
      <br>
      <%= f.label :number_of_people %>
      <%= f.number_field :number_of_people, min: 1 %>
      <br>
      <%= f.submit "Add party" %>

    <% end %>

    <% if @error %>
      <%= @error %>
    <% end %>

  </div>

</div>

<footer class='footer'><%= link_to "SIGN OUT", delete_session_path, {method: 'delete', id: 'signout', class:'all-buttons'} %></footer>
