<%= stylesheet_link_tag   'loggedin', media: 'all' %>

<header class='navbar'>
  <div id="restaurant">Taqueria</div>
  <div id="employee"><%= link_to "Home", profile_path %></div>
</header><br>

<div class='content'>

  <div class='six columns offset-by-three'>
    <div class='menu items-page'>

      <h2>Sign in</h2>

      <%= form_tag '/sessions', method: :post do %>

        <%= label_tag :username %>
        <%= text_field_tag :username %>
        <br>
        <%= label_tag :password %>
        <%= password_field_tag :password %>
        <br>
        <%= submit_tag "Sign in" %>

      <% end %>

      <%= button_to "Create Account", new_employee_path, {method: 'get'} %>

    </div>
  </div>

</div>
