<%= stylesheet_link_tag   'loggedin', media: 'all' %>

<header class='navbar'>
  <span id="restaurant">Taqueria</span>
  <span id="employee"><%= @employee.name %> | <%= @employee.restaurant_location %></span>
</header><br>

<div class='content'>

  <%= button_to "New Party", new_party_path, {method: 'get'}  %>
  <%= button_to "Current Parties", parties_path, {method: 'get'} %>
  <%= button_to "History", history_path, {method: 'get'} %>
  <%= button_to "Menu", admin_path, {method: 'get'} %>

  <%= button_to "Sign Out", delete_session_path %>

</div>
