<div class='tally'>

  <% @orderlist.each do |lineitem| %>
    <% @array = Array.new %>
    <%= lineitem.item.name %> (<%= lineitem.quantity %> at $<%= lineitem.item.price %>)<br>
  <% end %>
  <strong>Total: $<%= @total %></strong>
  <br>
  <br>
</div>

<%= form_tag party_path(@party), method: :put do -%>
  <%= hidden_field_tag "party[status]", @party.status-1 -%>
  <%= submit_tag 'Back to desserts' -%>
<% end %>

<%= form_tag party_path(@party), method: :put do -%>
  <%= hidden_field_tag "party[status]", @party.status-1 -%>
  <%= submit_tag 'Back to meals' -%>
<% end %>

<%= form_tag party_path(@party), method: :put do -%>
  <%= hidden_field_tag "party[status]", @party.status-1 -%>
  <%= submit_tag 'Back to drinks' -%>
<% end %>

<%= form_tag party_path(@party), method: :put do -%>
  <%= hidden_field_tag "party[is_paid]", true -%>
  <%= submit_tag 'Close Out Tab', :id => 'close-tab' -%>
<% end %>
