<%= stylesheet_link_tag   'loggedin', media: 'all' %>

<header class='navbar'>
  <div id="restaurant">Taqueria</div>
  <div id="employee"><%= @employee.name.capitalize %> | <%= @employee.restaurant_location.split(/ |\_/).map(&:capitalize).join(" ") %> | <%= link_to "Home", profile_path %></div>
</header><br>

<div class='content'>

  <% if @party.status == 1 %>
    <%= render 'drinks' %>
  <% elsif @party.status == 2 %>
    <%= render 'meals' %>
  <% elsif @party.status == 3 %>
    <%= render 'desserts' %>
  <% elsif @party.status == 4 %>
    <%= render 'check' %>
  <% end %>

</div>
