<%= stylesheet_link_tag   'loggedin', media: 'all' %>

<header class='navbar'>
  <div id="restaurant"><%= link_to "Taqueria", profile_path %></div>
  <div id="employee">
    <%= @employee.name.capitalize %> |
    <% if @employee.is_admin %><%= 'Manager' %><% else %><%= 'Server' %><% end %> at
    <%= @employee.restaurant_location.split(/ |\_/).map(&:capitalize).join(" ") %> |
    <%= link_to "Home", profile_path %>
  </div>
</header><br>

<div class='content'>

  <div class='six columns offset-by-three'>
    <div class='menu items-page'>

      <% if @party.status == 1 %>
        <h5>Add Drinks</h5>
        <%= render 'drinks' %>
      <% elsif @party.status == 2 %>
        <h5>Add Meals</h5>
        <%= render 'meals' %>
      <% elsif @party.status == 3 %>
        <h5>Add Desserts</h5>
        <%= render 'desserts' %>
      <% elsif @party.status == 4 %>
        <h5>Receipt</h5>
        <%= render 'check' %>
      <% end %>

    </div>
  </div>

</div>

<footer class='footer'><%= link_to "SIGN OUT", delete_session_path, {method: 'delete', id: 'signout', class:'all-buttons'} %></footer>
